<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Indie+Flower&family=Josefin+Sans:ital,wght@1,300&family=Lato:ital,wght@1,300&family=Nanum+Gothic&family=PT+Serif:ital@1&family=Poppins:wght@200&family=Raleway:ital,wght@0,300;1,400&family=Titillium+Web:wght@600&display=swap" rel="stylesheet">
</head>

<body class="all">
  
  <header>
    <h1>Adicione uma tarefa: </h1>
  </header>
  <div *ngFor=" let todo of listTodos">
    {{todo.name}}
  </div>
  <div class="container">
    <app-undone [listTodos]="todo"></app-undone>
    <app-done [listTodos]="todo" (allTodoStatus)=" todoStatus($event)"></app-done>
  </div>


</body>

</html>